@import '_aligns';
@import '_colors';

.my-page__shelves {
  .shelf {
    position: relative;

    .shelf__remove {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      font-size: 0.8rem;
      @include center-col-row();
      @include button-color--default(white, $deep-dark-brown);

      &:hover {
        @include button-color--hover($deep-dark-brown, white);
      }
    }
  }
}
