.main-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #e6c587, #615339);
  background-size: 200% 200%;
  animation: change 10s ease-in infinite;
}

.wise-saying__line {
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.5rem;
  cursor: default;
}

.wise-saying__by {
  display: flex;
  letter-spacing: 0.3rem;
  justify-content: center;
  font-weight: 100;
  cursor: default;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
