.my-page__tab {
  display: flex;
  justify-content: center;
}

.my-page__tab .tab__item {
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 200;
}

.my-page__tab .tab__item:focus {
  outline: 0;
}

.my-page__tab .tab__item:hover,
.my-page__tab .tab__item--selected {
  font-weight: 400;
}
